<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horan.dsmlmanager.dao.ImageSetMapper">
    <resultMap id="imageSetResultMap"  type="com.horan.dsmlmanager.entity.ImageSet" >
        <id property="imageID" column="imageID"></id>
        <result property="projectID" column="projectID"></result>
        <result property="imageName" column="imageName"></result>
        <result property="sign" column="sign"></result>
    </resultMap>
    <select id="getPageImage" parameterType="map" resultMap="imageSetResultMap">
        select * from image
         where projectID=#{projectID}
        limit #{currIndex} , #{pageSize}

    </select>
</mapper>