<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horan.dsmlmanager.dao.ProjectMapper">
    <resultMap id="projectResultMap"  type="com.horan.dsmlmanager.entity.Project" >
        <id property="id" column="id"></id>
        <result property="proName" column="pro_name"></result>
        <result property="userId" column="user_id"></result>
        <result property="proDec" column="pro_dec"></result>
        <result property="proTime" column="pro_mime"></result>
        <result property="proModel" column="pro_model"></result>
    </resultMap>
    <select id="getPageProjectByUserId" parameterType="map" resultMap="projectResultMap">
        select * from project limit #{currIndex} , #{pageSize} where user_id=#{userId}
    </select>
</mapper>