<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horan.dsmlmanager.dao.ProjectMapper">
    <resultMap id="projectResultMap"  type="com.horan.dsmlmanager.entity.Project" >
        <id property="id" column="id"></id>
        <result property="proName" column="pro_name"></result>
        <result property="userId" column="user_id"></result>
        <result property="proDec" column="pro_dec"></result>
        <result property="proTime" column="pro_time"></result>
        <result property="proModel" column="pro_model"></result>
        <result property="src" column="src"></result>
    </resultMap>
    <select id="getPageProjectByUserId" parameterType="map" resultMap="projectResultMap">
        select * from project   where user_id=#{userId} limit #{currIndex} , #{pageSize}
    </select>
    <select id="selectProjectById" parameterType="int" resultMap="projectResultMap">
        select * from project   where id=#{proId}
    </select>
    <insert id="addProject"  parameterType="com.horan.dsmlmanager.entity.Project" useGeneratedKeys="true" keyProperty="id" >
      insert into project(id,pro_name,pro_dec,pro_time,pro_model,user_id,src)
      values
       (#{id},#{proName},#{proDec},#{proTime},#{proModel},#{userId},#{src})
    </insert>
    <select id="getCount" resultType="int" parameterType="int">
        select count(*) from project where user_id=#{userId}
    </select>
    <update id="updateProjectById" parameterType="com.horan.dsmlmanager.entity.Project">
        update project
        <set>
            <if test="proName != null">pro_name=#{proName},</if>
            <if test="src != null">src=#{src},</if>
        </set>
        where id=#{id}
    </update>
</mapper>